@use '../../../app/sass/variables' as variables;

.smallHero {
  position: relative;
  height: 600px;
}

.smallHeroText {
  color: variables.$fontColor-main-light;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 55%;
  transform: translate(-50%, -50%);
}
