@use '../../../app/sass/mixins' as mixins;

@mixin navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 8rem;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;

  @include mixins.respond-to(tablet) {
    height: 10rem;
  }
}
