// TODO background color is for dev purposes

@mixin navbar {
  background-color: gray;
  display: flex;
  flex-direction: row;
  height: 8rem;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
}
